# import

In [1]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

# read

In [2]:
anime = pd.read_csv("../data/input/anime.csv")
sample_submission = pd.read_csv("../data/input/sample_submission.csv")
test = pd.read_csv("../data/input/test.csv")
train = pd.read_csv("../data/input/train.csv")

In [3]:
# unknown -> nan
anime = anime.replace("Unknown", np.nan)

# generate profile report

In [4]:
"""
anime_report = ProfileReport(anime, title="anime")
anime_report.to_file("anime_report")
"""

'\nanime_report = ProfileReport(anime, title="anime")\nanime_report.to_file("anime_report")\n'

In [5]:
"""
train_report = ProfileReport(train, title="train")
train_report.to_file("train_report")
test_report = ProfileReport(test, title="test")
test_report.to_file("test_report")
comparison_report = train_report.compare(test_report)
comparison_report.to_file("comparison_train_test.html")
"""

'\ntrain_report = ProfileReport(train, title="train")\ntrain_report.to_file("train_report")\ntest_report = ProfileReport(test, title="test")\ntest_report.to_file("test_report")\ncomparison_report = train_report.compare(test_report)\ncomparison_report.to_file("comparison_train_test.html")\n'

### anime

In [6]:
anime.head()

,anime_id,genres,japanese_name,type,episodes,aired,producers,licensors,studios,source,duration,rating,members,watching,completed,on_hold,dropped,plan_to_watch
0,000ba7f7e34e107e7544,"Comedy, Sci-Fi, Seinen, Slice of Life, Space",宇宙兄弟,TV,99,"Apr 1, 2012 to Mar 22, 2014","Aniplex, Dentsu, YTV, Trinity Sound",Sentai Filmworks,A-1 Pictures,Manga,24 min. per ep.,PG-13 - Teens 13 or older,150428,16552,37234,13009,6948,76685
1,00427279d72064e7fb69,"Adventure, Slice of Life, Mystery, Historical,...",蟲師,TV,26,"Oct 23, 2005 to Jun 19, 2006","Avex Entertainment, Marvelous, SKY Perfect Wel...",Funimation,Artland,Manga,25 min. per ep.,PG-13 - Teens 13 or older,620736,55482,235371,42786,20017,267080
2,00444b67aaabdf740a68,"Adventure, Slice of Life, Mystery, Historical,...",蟲師 続章,TV,10,"Apr 5, 2014 to Jun 21, 2014","Aniplex, Kodansha, Delfi Sound",Aniplex of America,Artland,Manga,24 min. per ep.,PG-13 - Teens 13 or older,226522,12585,113559,6095,2606,91677
3,00839a3507ab168abe75,"Comedy, Ecchi, Fantasy, School",星刻の竜騎士,TV,12,"Apr 5, 2014 to Jun 21, 2014","Media Factory, AT-X, Sony Music Communications...",Funimation,C-Station,Light novel,24 min. per ep.,R+ - Mild Nudity,170220,8723,118202,3753,8034,31508
4,0192331235e110fe4f76,"Comedy, Harem, Romance, Sci-Fi, Shounen, Space",天地無用！,TV,26,"Apr 2, 1995 to Sep 24, 1995","TV Tokyo, Pioneer LDC","Funimation, Geneon Entertainment USA",AIC,Original,23 min. per ep.,PG-13 - Teens 13 or older,62599,2565,39890,2093,1986,16065

- 2000行、18列
- text: 9, categorical: 3, numeric: 6

***

- anime_id: アニメ作品を識別する ID
    - テキスト
    - 完全ユニーク
- genres: 作品ジャンル. (複数)
    - テキスト
    - 1329種、ユニーク995
    - comedyがトップ
    - いくつかにまとめたいが多すぎる...
- japanese_name: 作品名
    - テキスト
    - 1931種、ユニーク1872
    - 日本語が多いか？
    - 2期とか劇場版とかは別扱い
- type: TV / OVA (オリジナルビデオアニメーション) など, 作品の提供方法. ex: TV
    - テキスト
    - カテゴリ
    - 7種
        - TV, Movie, OVA, Special, ONA, Unknown, Music
- episodes: 話数
    - テキスト（なんで？と思ったけどunkonownがある）
    - 95種、ユニーク58種
    - トップが12話、ついで1話
    - 何話あるかということだと思う
- aired: 放映日 (範囲で差記載されている場合もあります)
    - テキスト
    - 1653種、ユニーク1396
- producers: 制作会社. (複数)
    - テキスト
    - 1405種、ユニーク1237
- licensors: ライセンス所有社. (複数)
    - テキスト
    - 134種、ユニーク67
- studios: スタジオ (複数)
    - テキスト
    - 271種、ユニーク121
- source: 作品の元ネタ. (ex: ライトノベル)
    - カテゴリ
    - 13種、ユニーク1
- duration: 一話ごとの長さ
    - テキスト
    - 151種、ユニーク44
- rating: 年齢制限
    - カテゴリ
    - 7種、ユニーク1
- members: アニメ作品のグループに登録しているユーザー数. (単位は千人)
    - 数値
- watching: 作品を視聴中のユーザー数
    - 数値
- completed: 作品を見終わったユーザー数
    - 数値
- on_hold: 作品を保留にしているユーザー数
    - 数値
- dropped: 作品を見るのをやめてしまったユーザー数
    - 数値
- plan_to_watch: この作品を見る予定のユーザー数
    - 数値

***

- text
    - genres, japanese_name, aired, producers, licensors, studios
- categorical
    - type, source, rating, 
- numerical
    - episodes, duration, members, watching, completed, on_hold, dropped, plan_to_watch

***

textはくっつけてdebertaとかのベクトルにしたい。

categorical、numericalはそのままつかえる。

durationはnumericalにできそう

In [98]:
anime["type"] = anime["type"].astype("category")
anime["source"] = anime["source"].astype("category")
anime["rating"] = anime["rating"].astype("category")

In [101]:
anime["rating"]

0            PG-13 - Teens 13 or older
1            PG-13 - Teens 13 or older
2            PG-13 - Teens 13 or older
3                     R+ - Mild Nudity
4            PG-13 - Teens 13 or older
                     ...
1995                  R+ - Mild Nudity
1996         PG-13 - Teens 13 or older
1997    R - 17+ (violence & profanity)
1998    R - 17+ (violence & profanity)
1999         PG-13 - Teens 13 or older
Name: rating, Length: 2000, dtype: category
Categories (6, object): ['G - All Ages', 'PG - Children', 'PG-13 - Teens 13 or older', 'R - 17+ (violence & profanity)', 'R+ - Mild Nudity', 'Rx - Hentai']

In [83]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   anime_id       2000 non-null   object
 1   genres         2000 non-null   object
 2   japanese_name  1999 non-null   object
 3   type           1998 non-null   object
 4   episodes       1982 non-null   object
 5   aired          1992 non-null   object
 6   producers      1785 non-null   object
 7   licensors      1580 non-null   object
 8   studios        1991 non-null   object
 9   source         2000 non-null   object
 10  duration       1985 non-null   object
 11  rating         1995 non-null   category
 12  members        2000 non-null   int64
 13  watching       2000 non-null   int64
 14  completed      2000 non-null   int64
 15  on_hold        2000 non-null   int64
 16  dropped        2000 non-null   int64
 17  plan_to_watch  2000 non-null   int64
dtypes: category(1), int64(6), object(11)
memory usage: 267.9+ KB

In [66]:
def convert_to_seconds(duration):
    
    if duration is np.nan:
        return None

    parts = duration.split(" ")
    time_in_seconds = 0

    for part in parts:
        if part.isdigit():
            time_in_seconds_tmp = int(part)
        elif part == "min.":
            time_in_seconds += time_in_seconds_tmp * 60
        elif part == "hr.":
            time_in_seconds += time_in_seconds_tmp * 3600

    return time_in_seconds

### train & test

In [96]:
train["user_id"].value_counts()

user_id
61c04a903417d6ed0500    326
87e8bf4369b122472f54    320
66e8ad1b15e37ffe34d8    310
445bd5c54308fc81763d    297
201b3dde31e826ba2030    296
                       ...
f0cf163dc9f6df380958      1
d7b6bf8a99fdd3889579      1
d747358f72dd5774d845      1
a0ea782492772a5e05f7      1
bf3cbfa1d3b161eaf3e8      1
Name: count, Length: 1794, dtype: int64

In [15]:
test

                     user_id              anime_id
0       0008e10fb39e55447333  04068820a73e52dc3b32
1       0008e10fb39e55447333  04a3d0b122b24965e909
2       0008e10fb39e55447333  1447fe1f10b59912d6a8
3       0008e10fb39e55447333  2622632598c68682afd5
4       0008e10fb39e55447333  2701850c7216516fec46
...                      ...                   ...
117671  ffe85a36cd20500faa58  f508b02efeac8ecb8cc0
117672  ffe85a36cd20500faa58  f5b8ecea3beea4b82d79
117673  ffe85a36cd20500faa58  f6c208226b6b69948053
117674  ffe85a36cd20500faa58  fe67592c312fc1e17745
117675  ffe85a36cd20500faa58  ff73475b68001c5e533d

[117676 rows x 2 columns]

- user_id: ユーザーを識別する ID
- anime_id: アニメ作品を識別する ID
- score: ユーザーによる評価値. 1 ~ 10 の離散値を取ります.

In [3]:
sample_submission

           score
0       6.478691
1       2.513589
2       2.212736
3       6.608664
4       6.339157
...          ...
117671  4.182134
117672  9.782259
117673  5.659402
117674  5.764207
117675  5.995664

[117676 rows x 1 columns]